

<!-- ユーザー一覧表示-->
<% @users.each do |user| %>
  <p>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "削除", user, method: :delete, data: {confirm: "ユーザーを削除します。よろしいですか?"} %>
    <% end %>
  </p>
<% end %>
