

<!-- ユーザー一覧表示-->
<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <p>
    <%if current_user?(user) %>
      現在のユーザー→<%= link_to user.name, user %>
    <% else %>
      <%= link_to user.name, user %>
    <% end %>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "削除", user, method: :delete, data: {confirm: "ユーザーを削除します。よろしいですか?"} %>
    <% end %>
  </p>
<% end %>
